/* Coolors Exported Palette - coolors.co/faffef-bcb6a6-d1c29a-68917d-141414 */

/* HSL */
$color1: hsla(79%, 100%, 97%, 1);
$color2: hsla(44%, 14%, 69%, 1);
$color3: hsla(44%, 37%, 71%, 1);
$color4: hsla(151%, 16%, 49%, 1);
$color5: hsla(0%, 0%, 8%, 1);

/* RGB */
$color1: rgba(250, 255, 239, 1);
$color2: rgba(188, 182, 166, 1);
$color3: rgba(209, 194, 154, 1);
$color4: rgba(104, 145, 125, 1);
$color5: rgba(20, 20, 20, 1);